tiene que permitir decidir las dimensiones de la rejilla (falta arreglar tema de que con numero de filas y columnas diferentes peta)
 - tiene que permitir la posición inicial de las bacterias
 - tiene que permitir ir paso por paso, 
 - tiene que permitir ir automaticamente
 - tiene que permitir cambio de velocidad
tiene que permitir elejir tipo de bacteria
 - tiene que permitir ir paso por paso para atras
poder guardar la partida en cualquier momento
poder generar nuevas bacterias
buena organizacion del codigo(constructor, etc...)
